
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

@font-face {
  font-family: autography;
  src: url("../fonts/Autography.otf") format("opentype");
}

@font-face {
  font-family: signature;
  src: url("../fonts/Photograph Signature.ttf") format("opentype");
}

body {
  background-color: #000;
}

#coming-soon {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Oswald', sans-serif; 
    font-weight: 200; 
    letter-spacing: 1px;
    padding-bottom: 15px;
}

#by {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 53%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Oswald', sans-serif; 
    font-weight: 200; 
    letter-spacing: 1px;
    padding-bottom: 15px;
}

#name {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 60%;
    width: 100%;
    color: white;
    background: -webkit-linear-gradient(#6B4AFF, #7658ff, #ff41d7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 37.5px;
    font-family: 'signature', sans-serif; 
    font-weight: 200; 
    letter-spacing: 1px;
}